/*--------------------------------------------*/
/*---> COLORS <-------------------------------*/
/*--------------------------------------------*/

@ecoGreen: #00c853;
@lightGreen: @ecoGreen + #222222;
@darkGreen: @ecoGreen - #222222;
@skyBlue: #8ccee3;
@charcoal: #1a1a1a;
@friendshipOrange: #ea541e;

/*--------------------------------------------*/
/*---> FONTS <--------------------------------*/
/*--------------------------------------------*/

@bitter: 'Bitter', serif;
@margarine: 'Margarine', cursive;

.BitterFont(@textColor: white, @size: 1.25em){
	font-family: @bitter;
	color: @textColor;
	font-size: @size;
	line-height: @size * 1.5;
}

/*--------------------------------------------*/
/*---> BACKGROUND <---------------------------*/
/*--------------------------------------------*/

@-webkit-keyframes animatedBackgroundRight{
	from{
		background-position: 0 0;
	}
	to{
		background-position: 10000% 0;
	}
}

@-webkit-keyframes animatedBackgroundLeft{
	from{
		background-position: 0 0;
	}
	to{
		background-position: -10000% 0;
	}
}

.AnimatedBannerRight(@height: 200px){
	height: @height;
	background-size: auto @height;
	background-position: 0 0;
	background-repeat: repeat-x;
	animation: animatedBackgroundRight 800s linear infinite;
	-webkit-animation: animatedBackgroundRight 800s linear infinite;
}

.AnimatedBannerLeft(@height: 200px){
	height: @height;
	background-size: auto @height;
	background-position: 0 0;
	background-repeat: repeat-x;
	animation: animatedBackgroundLeft 800s linear infinite;
	-webkit-animation: animatedBackgroundLeft 800s linear infinite;
}

.AnimateAll(){
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
}

/*--------------------------------------------*/
/*---> STRUCTURE <----------------------------*/
/*--------------------------------------------*/

html, body{
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
}

.FullWidth(){
	margin: 0;
	width: 100%;
}

header{

	position: fixed;
	bottom: 0;
	background: rgba(255, 255, 255, 0.75);
	border-top: 5px solid @ecoGreen;
	border-bottom: none;
	height: 60px;
	z-index: 20;
	.FullWidth();

	img#headerLogo{
		float: left;
		height: 40px;
		margin: 5px 10px 0 10px;
	}

	div.fb-like{
		float: right;
		height: 20px;
		width: auto;
		margin: 20px 20px 0 0;
		background: transparent;
	}

}

/*--------------------------------------------*/
/*---> TABS <---------------------------------*/
/*--------------------------------------------*/

@tabHeight: 7.5vh;

div.tabs-container{
	width: 100vw;
	height: @tabHeight;
	background: white;
}

ul.tabs-list{
	width: 100vw;
}

li.tab{
	@spacing: 1.5vh;
	margin-top: @spacing;
	padding: 0 @spacing;
	display: inline-block;
	width: 20vw;
	height: @tabHeight - @spacing;
	line-height: @tabHeight - @spacing;
	background: @charcoal;
	font-family: @bitter;
	color: white;
	border-top-right-radius: 1.5vh;
}

/*--------------------------------------------*/
/*---> PANES <--------------------------------*/
/*--------------------------------------------*/

@paneHeight: 90vh - 60px;

div.pane-container{
	background: orange;
	width: 100vw;
	height: @paneHeight;
	overflow: hidden;
}

div#pane-slider{
	width: 1000%;
	display: inline-block;
	margin: 0;
	background: blue;
	.AnimateAll();
}

section.stats-pane{
	float: left;
	width: 100vw;
	height: @paneHeight;
	background: @charcoal;
}

/*--------------------------------------------*/
/*---> STATISTICS <---------------------------*/
/*--------------------------------------------*/
